*.h5
*.DS_Store
*.pkl
*.jpg
*.pt
*.pth
get_date/20240719

patch_embeddings/5XTiles
patch_embeddings/10XTiles
patch_embeddings/20XTiles

prov-gigapath/data
prov-gigapath/dataset_csv
prov-gigapath/documentation
prov-gigapath/images
*.zip
*.h5
*.png

